<p id="notice"><%= notice %></p>
<h2 id="message">There are no outstanding orders at this time.</h2>
<br>
<%= link_to 'Refresh', fs_orders_find_path, id: "refresh", :style=> 'display:none', class: "btn btn-primary" %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

<script type="text/javascript"><!--
setInterval( getOrders, 60000 );
//--></script>
